---
import Page from '@layouts/LayoutPage.astro';
import { Icon } from 'astro-icon';
import { FRONTEND, BACKEND, DATABASE, MOBILE, WORKFLOW, COURSES } from '@data/tech';
---

<Page>
  <h1 class="text-2xl text-green-orange font-bold">Techs</h1>
  <p>
    This section can give you an idea about some tech I&apos;ve used in my short actual experience,
    but I&apos;m studying new stuff I need/want to discover or master.
  </p>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <section class="flex-auto p-3 flex flex-col gap-2 border border-neutral-500 rounded-md">
      <h4 class="text-2xl font-semibold text-center">Frontend</h4>
      <div class="flex-1 flex flex-col sm:flex-row items-center gap-4">
        <Icon name="ph:pencil-light" width="120" class="text-red-500" />
        <ol class="flex-auto flex flex-col justify-center gap-1 text-lg">
          {
            FRONTEND.map(experience => {
              return <li>{experience.name}</li>;
            })
          }
        </ol>
      </div>
    </section>
    <section class="flex-auto p-3 flex flex-col gap-2 border border-neutral-500 rounded-md">
      <h4 class="text-2xl font-semibold text-center">Backend</h4>
      <div class="flex-1 flex flex-col sm:flex-row items-center gap-4">
        <Icon name="ph:plug" width="120" class="text-neutral-400" />
        <ol class="flex-auto flex flex-col justify-center gap-1 text-lg">
          {
            BACKEND.map(experience => {
              return <li>{experience.name}</li>;
            })
          }
        </ol>
      </div>
    </section>
    <section class="p-3 flex flex-col gap-2 border border-neutral-500 rounded-md">
      <h4 class="text-2xl font-semibold text-center">Database</h4>
      <div class="flex-1 flex flex-col sm:flex-row items-center gap-4">
        <Icon name="mdi:database-search-outline" width="120" class="text-green" />
        <ol class="flex-auto flex flex-col justify-center gap-1 text-lg">
          {
            DATABASE.map(experience => {
              return <li>{experience.name}</li>;
            })
          }
        </ol>
      </div>
    </section>
    <section class="p-3 flex flex-col gap-2 border border-neutral-500 rounded-md">
      <h4 class="text-2xl font-semibold text-center">Mobile</h4>
      <div class="flex-1 flex flex-col sm:flex-row items-center gap-4">
        <Icon name="raphael:iphone" width="120" class="text-yellow-600" />
        <ol class="flex-auto flex flex-col justify-center gap-1 text-lg">
          {
            MOBILE.map(experience => {
              return <li>{experience.name}</li>;
            })
          }
        </ol>
      </div>
    </section>
    <section
      class="min-[500px]:col-span-2 p-3 flex flex-col gap-2 border border-neutral-500 rounded-md">
      <h4 class="text-2xl font-semibold text-center">Workflow</h4>
      <div class="flex-1 flex flex-col sm:flex-row items-center gap-4">
        <Icon name="mdi:workflow-outline" width="120" class="text-orange" />
        <ol class="flex-auto flex flex-col justify-center gap-1 text-lg">
          {
            WORKFLOW.map(experience => {
              return <li>{experience.name}</li>;
            })
          }
        </ol>
      </div>
    </section>
    <section
      class="min-[500px]:col-span-2 p-3 flex flex-col gap-2 border border-neutral-500 rounded-md">
      <h4 class="text-2xl font-semibold text-center">Courses</h4>
      <div class="flex-1 flex flex-col sm:flex-row items-center gap-4">
        <Icon name="carbon:course" width="120" class="text-blue" />
        <ol class="max-w-full flex-auto flex flex-col justify-center gap-3 text-lg">
          {
            COURSES.map(experience => {
              return (
                <li title={`Go to ${experience.provider}`}>
                  <a href={experience.link} target="_blank" rel="noopener noreferrer">
                    <p class="inline-block max-w-[80%] truncate align-middle">{experience.name}</p>
                    {experience.provider_icon && (
                      <Icon width="30" class="inline-block ml-3" {...experience.provider_icon} />
                    )}
                  </a>
                </li>
              );
            })
          }
        </ol>
      </div>
    </section>
  </div>
</Page>
